.footer {
  height: 8vh;
  background-color: var(--extra-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text > h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
}

.footer-text > h3 span {
  color: black;
  font-weight: 700;
}
